<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieFlix</title>
</head>
<body>

  <header class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Welcome to MovieFlix</h1>
      <p class="lead">Discover the latest and greatest movies!</p>
    </div>
  </header>

  <section class="container">
    <div class="row">
      <div class="col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMjE5MjkwODI3Nl5BMl5BanBnXkFtZTcwNjcwMDk4NA@@._V1_.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pirates of the Caribbean</h5>
                <p class="card-text">Jack Sparrow races to recover the heart of Davy Jones to avoid enslaving his soul to Jones' service.</p>
                <a href="#" class="btn btn-primary">Watch Now</a>
              </div>
        </div>
      </div>

      <div class="col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMTcwODc1MTMxM15BMl5BanBnXkFtZTYwMDg1NzY3._V1_.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pirates of the Caribbeant</h5>
                <p class="card-text">Jack Sparrow races to recover the heart of Davy Jones to avoid enslaving his soul to Jones' service.</p>
                <a href="#" class="btn btn-primary">Watch Now</a>
              </div>
        </div>
      </div>

      <div class="col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMTYyMTcxNzc5M15BMl5BanBnXkFtZTgwOTg2ODE2MTI@._V1_FMjpg_UX1000_.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pirates of the Caribbeant</h5>
                <p class="card-text">Jack Sparrow races to recover the heart of Davy Jones to avoid enslaving his soul to Jones' service.</p>
                <a href="#" class="btn btn-primary">Watch Now</a>
              </div>
        </div>
      </div>

      <div class="col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://www.themoviedb.org/t/p/original/p9fXIvNppK21fCHAEkznSZb8hnv.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Pirates of the Caribbeant</h5>
                <p class="card-text">Jack Sparrow races to recover the heart of Davy Jones to avoid enslaving his soul to Jones' service.</p>
                <a href="#" class="btn btn-primary">Watch Now</a>
              </div>
        </div>
      </div>

      <div class="col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMTU2NjA1ODgzMF5BMl5BanBnXkFtZTgwMTM2MTI4MjE@._V1_.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">John Wick</h5>
                <p class="card-text">An ex-hitman comes out of retirement to track down the gangsters who killed his dog and stole his car.</p>
                <a href="#" class="btn btn-primary">Watch Now</a>
              </div>
        </div>
      </div>

      <div class="col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMjE2NDkxNTY2M15BMl5BanBnXkFtZTgwMDc2NzE0MTI@._V1_.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">John Wick</h5>
                <p class="card-text">An ex-hitman comes out of retirement to track down the gangsters who killed his dog and stole his car.</p>
                <a href="#" class="btn btn-primary">Watch Now</a>
              </div>
        </div>
      </div>

      <div class="col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMDg2YzI0ODctYjliMy00NTU0LTkxODYtYTNkNjQwMzVmOTcxXkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">John Wick</h5>
                <p class="card-text">An ex-hitman comes out of retirement to track down the gangsters who killed his dog and stole his car.</p>
                <a href="#" class="btn btn-primary">Watch Now</a>
              </div>
        </div>
      </div>


      <div class="col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMDExZGMyOTMtMDgyYi00NGIwLWJhMTEtOTdkZGFjNmZiMTEwXkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">John Wick</h5>
                <p class="card-text">An ex-hitman comes out of retirement to track down the gangsters who killed his dog and stole his car.</p>
                <a href="#" class="btn btn-primary">Watch Now</a>
              </div>
        </div>
      </div>

    </div>
  </section>

</body>
</html>

